<h1>新しい投稿</h1>

<%= form_with model: @post, html: {class: "form-container" } do |form| %>
  <div class="form-input">
    <%= form.label :title %>
      <%= form.text_field :title %>
  </div>
  <div class="form-input">
    <%= form.label :content %>
      <%= form.text_area :content %>
  </div>
  <div class="button-container">
    <%= form.submit "投稿" , class: "link-button" %>
  </div>
  <% end %>